*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#CSE{
    background-image: url(https://wallpapercave.com/wp/wp2972537.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    font-style: oblique;
    font-weight: 50;
    
}

#CSE p{
    color: #fff;
    font-size: 20px;
}

#CSE strong{
    color: yellow
}
.menu{
    background-color: gold;
    float: left;
    width: 50%;
    height: 100px;
   margin: 20px 20px;
}
.whole > div {
    padding: 20px 0;
    text-align: center;
    margin: 5px 0;
}
.menu p{
    background-color: gold;
}
.menu strong{
    background-color: gold;
}
.content{
    background-color: lime;
    float: left;
    width: 50%;
    height: 100px;
}
.content p {
    background-color: lime;
}
.content strong{
    background-color: lime;
}