*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#Robotic{
    background-image: url(https://www.shutterstock.com/image-photo/manager-engineer-check-control-automation-260nw-1119927341.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    font-style: oblique;
    font-weight: 50;
}
